In [2]:
import pandas as pd
import openbrewerydb

In [3]:
categories="data_world/categories.csv"
cat_df=pd.read_csv(categories)
cat_df.head()

   id            cat_name
0  -1              Unique
1   1         British Ale
2   2           Irish Ale
3   3  North American Ale
4   4          German Ale

In [4]:
styles="data_world/styles.csv"
styles_df=pd.read_csv(styles)
styles_df.head()

,id,cat_id,style_name,Description,ABV_Low,ABV_High,IBU_low,IBU_High,SRM_Low,SRM_High,OG_Low,OG_High,FG_Low,FG_High,Glass Type
0,1,1,Classic English-Style Pale Ale,Classic English pale ales are golden to copper...,4.5,5.5,20,40,5.0,5.0,NaN,NaN,1.008,1.016,Stein
1,2,1,English-Style India Pale Ale,Most traditional interpretations of English-st...,5.0,7.0,35,63,6.0,14.0,NaN,NaN,1.012,1.018,Nonic Pint
2,3,1,Ordinary Bitter,Ordinary bitter is gold to copper colored with...,3.0,4.1,20,35,5.0,12.0,NaN,NaN,1.006,1.012,Nonic Pint
3,4,1,Special Bitter or Best Bitter,Special bitter is more robust than ordinary bi...,4.1,4.8,28,40,6.0,14.0,NaN,NaN,1.006,1.012,Nonic Pint
4,5,1,Extra Special Bitter,Extra special bitter possesses medium to stron...,4.8,5.8,30,45,8.0,14.0,NaN,NaN,1.010,1.016,Nonic Pint

In [9]:
columns=["id", 'cat_id', 'style_name', 'ABV_Low', 'ABV_High', 'Glass Type']
styles_reduced_df=styles_df.loc[:, columns]
styles_reduced_df=styles_reduced_df.rename(columns={"Glass Type": "Glass_Type"})
styles_reduced_df

,id,cat_id,style_name,ABV_Low,ABV_High,Glass_Type
0,1,1,Classic English-Style Pale Ale,4.5,5.5,Stein
1,2,1,English-Style India Pale Ale,5.0,7.0,Nonic Pint
2,3,1,Ordinary Bitter,3.0,4.1,Nonic Pint
3,4,1,Special Bitter or Best Bitter,4.1,4.8,Nonic Pint
4,5,1,Extra Special Bitter,4.8,5.8,Nonic Pint
...,...,...,...,...,...,...
136,138,11,Aged Beer,4.5,5.0,Shaker
137,139,11,Other Strong Ale or Lager,4.5,5.0,Shaker
138,140,11,Non-Alcoholic Beer,4.5,5.0,Shaker
139,141,11,Winter Warmer,4.5,5.0,Nonic Pint
140,-1,-1,Undefined-Ignore,4.5,5.0,Shaker

In [10]:
styles_reduced_df.to_csv("cleaned_data_world/styles_reduced_df.csv", index=False, header=True)